/* styles.css */

body {
    background-color: antiquewhite;
} 

img {
    max-height: 30%;
    max-width: 30%;
    display: block;
    margin: auto;
    
}

#title {
    text-align: center;
}

#center-list {
    text-align: center;
    list-style-type: none;
}
