/* styles.css */

* {
    margin: 40px;
    padding: 0px;
    box-sizing: border-box;
    display: flexbox;
}

body {
    background-color: antiquewhite;
} 

img {
    max-height: 30%;
    max-width: 30%;
    display: block;
    margin: auto;
    
}

#title {
    text-align: center;
}

#center-list {
    text-align: center;
    list-style-type: none;
}
