/* styles.css */

* {
    margin: 40px;
    padding: 0px;
    
}

body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
} 

img {
    max-height: 30%;
    max-width: 30%;
    display: block;
    margin: auto;
    
}

.title {
    text-align: center;
}

.center-list {
    text-align: center;
    list-style-type: none;
    
}

